@import '../../../../../styles.scss';

.mainContainer{
  width: 100vw;
  @include flexStartCenter;
}
.sizeContainer{
  width: 80%;
  max-width: 1200px;
  background-color: $colorBackground;
  @include flexColumnStart;
  padding: 2rem;
  border-radius: .75rem;
  margin-bottom: 2rem;
  .formContainer{
    width: 100%;
    @include flexColumnStart;
  }
}
.formLine{
  width: 100%;
  @include flexEndSpaceBetween;

  .halfWidth{
    width: calc(50% - 2rem);
    margin: 1rem;
    margin-bottom: 0rem;
  }

  .thirdWidth{
    width: calc(33% - 2rem);
    margin: 1rem;
    margin-bottom: 0rem;
  }
}

.nameTypeContainer{
  width: 100%;
  margin-bottom: 1.5rem;
  @include flexCenterCenter;
  .nameTypeToggle{
    width: 100%;
    @include flexCenterSpaceBetween;
  }

  .nameLabel{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }
}

#backButton{
  color: $colorText;
  background-color: $colorPrimaryBackground;
  &:hover{
    background-color: $colorPrimaryLight;
  }
}

.optionalPanel{
  overflow: hidden;
  height: 0rem;
  transition: .6s ease-in-out;
  width: 100%;
  @include flexColumnStart;;
}

.isExpanded{
  height: 7rem;
}

.fullWidth{
  width: calc(100% - 2rem);
  margin: 1rem;
  margin-bottom: 0rem;
}

#petDescription.isExpanded{
  height: 7rem;
}



#formError{
  margin-top: 2rem;
}

.navButtonContainer{
  margin-top: 2rem;
  width: 60%;
  @include flexCenterSpaceBetween;
  button{
    width: calc( 50% - 2rem);
    margin: 0 1rem;
  }
}

.mainTitle{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: $colorLightText;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.subTitle{ 
  @extend  .mainTitle;
  margin-top: 2rem;
}


.titleHighlight{
  color: $colorPrimary;
}

.customErrorDiv{
  position: relative;
  .customError{
    color: $colorWarn;
    font-size: .75rem;
    margin-top: -1.125rem;
    margin-left: 0.75rem;
    position: absolute;
  }
}


@media only screen and (max-width: $breakpointMedium){

  .inputLabel{
    font-size: 1rem;
  }

  .mainTitle{
    font-size: 2rem;
  }
  .navButtonContainer{
    width: 80%;
  }

  .threeLine{
    flex-wrap: wrap;
    justify-content: center;
    .thirdWidth{
      width: calc(50% - 2rem);
    }
  }
}


@media only screen and (max-width: 720px){

  .sizeContainer{
    width: calc(100% - 2rem);
    padding: 1rem 0;
  }

  .mainTitle{
    font-size: 1.5rem;
  }

  .navButtonContainer{
    width: 100%;
  }

  .formLine{
    flex-wrap: wrap;
    justify-content: center;
    .halfWidth, .thirdWidth {
      width: 100%;
    }
  }

  .isExpanded{
    height: 9rem;
  }
}
