<div class="mainContainer">
  <div class="sizeContainer">
    <!-- form -->
    <form [formGroup]="form" class="formContainer">
      <!-- {{selectedNameType}} -->
      <div class="mainTitle">Who Do You Want To Apply For</div>
      <div class="formLine firstLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Select The Cat You Want To Apply For</mat-label>
          <mat-form-field appearance="outline" class="selectDefault full-width">
            <mat-select  placeholder="ex: Fuzzy Lumpkins" iso id="petName" formControlName="petName" [required]="petNameList.length > 0 ? true: false" >
              <mat-option id="pet{{name}}" *ngFor="let name of petNameList" [value]="name">{{name}}</mat-option>
            </mat-select>
            <mat-error role='alert' *ngIf="error('petName', 'required')">
                Pet Name Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth"  >
          <mat-label class="inputLabel">Add More Cats To This Application?</mat-label>
          <mat-form-field appearance="outline" class="selectDefault full-width">
            <mat-select  placeholder="Yes / No" iso id="hasOtherRequest" formControlName="hasOtherRequest" >
              <mat-option id="hasRequest{{type}}" *ngFor="let type of yesNo" [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error role='alert' *ngIf="error('hasOtherRequest', 'required')">
                This Field Is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- other Words-->
      <div class="optionalPanel" id="otherNameRequest" [ngClass]="{isExpanded: form.controls.hasOtherRequest.value == 'Yes'}">
        <div class="formLine ">
          <div class="inputWrapperColumn fullWidth">
            <mat-label class="inputLabel" ><span class="labelMarginRight">Additional Information </span><span class="titleHighlight">Additional Cats, Special Requests, Etc.</span> </mat-label>
            <mat-form-field appearance="outline" class="inputDefault">
    
              <textarea [required]="form.controls.hasOtherRequest.value == 'Yes'? true: false"
                        matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="2"
                        cdkAutosizeMaxRows="2"
                        formControlName="otherNameRequest"
                        placeholder="ex: I also want to adopt Fuzzy Lumpkins."></textarea>
              <mat-error role='alert' *ngIf="error('otherNameRequest', 'required')">
                Describe Your Other Pets Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="subTitle">We Want To Know More About You</div>
      <!-- name -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >First Name</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: Tom , Nancy" autocomplete="given-name" formControlName="adopterFirstName" id="adopterFirstName"/>
            <mat-error role='alert' *ngIf="error('adopterFirstName', 'required')">
               Adopter's First Name Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Last Name</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: Patel, Smith" autocomplete="family-name" formControlName="adopterLastName" id="adopterLastName"/>
            <mat-error role='alert' *ngIf="error('adopterLastName', 'required')">
               Adopter's Last Name Is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- DOB phone -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Date Of Birth</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput mask="00-00-0000" placeholder="MM-DD-YYYY" autocomplete="bday" inputmode="numeric" formControlName="adopterDOB" id="adopterDOB"/>
            <mat-error role='alert' *ngIf="error('adopterDOB', 'required')">
               Adopter's Date Of Birth Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Primary Phone Number</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput mask="(000)-000-0000" placeholder="(000)-123-1234" autocomplete="tel-national" inputmode="numeric" formControlName="adopterPhoneNumber" id="adopterPhoneNumber"/>
            <mat-error role='alert' *ngIf="error('adopterPhoneNumber', 'required')">
               Adopter's Phone Number Is Required
            </mat-error>
            <mat-error role='alert' *ngIf="error('adopterPhoneNumber', 'pattern')">
               Phone Number Is Invalid.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- email -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" for="adopterEmail">Email Address</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: KittenFanatic@tkfr.org" autocomplete="email" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" formControlName="adopterEmail" id="adopterEmail"/>
            <mat-error role='alert' *ngIf="error('adopterEmail', 'required')">
               Adopter's Email Address Is Required
            </mat-error>
            <mat-error role='alert' *ngIf="error('adopterEmail', 'pattern')">
              Email Address Is Invalid
           </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth customErrorDiv" >
          <mat-label class="inputLabel" >Confirm Email Address</mat-label>
          <mat-form-field appearance="outline" class="inputDefault " >
            <input matInput placeholder="ex: KittenFanatic@tkfr.org" type="text" autocomplete="email" onselectstart="return false" formControlName="adopterEmailConfirm" id="adopterEmailConfirm"/>
            <mat-error role='alert' *ngIf="error('adopterEmailConfirm', 'required')">
               Confirmation Email Address Is Required
            </mat-error>
            <mat-error role='alert' *ngIf="error('adopterEmailConfirm', 'pattern')">
               Email Address Is Invalid
            </mat-error>
          </mat-form-field>
          <div  *ngIf="(form.hasError('adopterEmailConfirm') && !error('adopterEmailConfirm', 'required') && !error('adopterEmailConfirm', 'pattern'))" class="customError">
          Email Address Does Not Match
          </div>
        </div>
      </div>
      <!-- name -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Occupation</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: Student, Doctor" formControlName="primaryOccupantJob" id="primaryOccupantJob"/>
            <mat-error role='alert' *ngIf="error('primaryOccupantJob', 'required')">
              Occupation Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Drivers License State</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: Georgia" autocomplete="dlState" formControlName="driversState" id="driversState"/>
            <mat-error role='alert' *ngIf="error('driversState', 'required')">
              Drivers License State Is Required
           </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- address lines -->
        <div class="formLine">
          <div class="inputWrapperColumn halfWidth" >
            <mat-label class="inputLabel" >Address Line 1</mat-label>
            <mat-form-field appearance="outline" class="inputDefault ">
              <input matInput placeholder="ex: 1234 Example Lane" autocomplete="address-line1" formControlName="adopterAddressLine1" id="adopterAddressLine1"/>
              <mat-error role='alert' *ngIf="error('adopterAddressLine1', 'required')">
                 Address Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputWrapperColumn halfWidth" >
            <mat-label class="inputLabel" >Address Line 2</mat-label>
            <mat-form-field appearance="outline" class="inputDefault ">
              <input matInput placeholder="ex: Apartment 400" autocomplete="1222122322312312312" formControlName="adopterAddressLine2" id="adopterAddressLine2"/>
            </mat-form-field>
          </div>
        </div>

        <!-- address city etc -->
        <div class="formLine threeLine">
          <div class="inputWrapperColumn thirdWidth" >
            <mat-label class="inputLabel" >City</mat-label>
            <mat-form-field appearance="outline" class="inputDefault ">
              <input matInput placeholder="ex: Atlanta"  formControlName="adopterCity" id="adopterCity"/>
              <mat-error role='alert' *ngIf="error('adopterCity', 'required')">
                 City Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputWrapperColumn thirdWidth" >
            <mat-label class="inputLabel" >State</mat-label>
            <mat-form-field appearance="outline" class="inputDefault ">
              <input matInput type="text" name="state" placeholder="ex: Georgia"  formControlName="adopterState" id="adopterState"/>
              <mat-error role='alert' *ngIf="error('adopterState', 'required')">
                State Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputWrapperColumn thirdWidth" >
            <mat-label class="inputLabel" >Zip Code</mat-label>
            <mat-form-field appearance="outline" class="inputDefault " >
              <input matInput placeholder="ex: 30338" type="text" inputmode="numeric" formControlName="adopterZip" id="adopterZip"/>
              <mat-error role='alert' *ngIf="error('adopterZip', 'required')">
                 Zip Code Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

          <!-- nav buttons -->
    <mat-error *ngIf="hasSubmissionError"  id="formError">
      Please Correctly Fill Out All Required Fields 
    </mat-error>
    <div class="navButtonContainer">
      <button mat-button id="backButton" class="buttonTinted buttonLarge navButton" (click)="back()">
        Back
      </button>
      <button mat-button  class="buttonTinted buttonLarge navButton" (click)="next()">
        Next
      </button>
    </div>
    </form>


  </div>
</div>
