@import "../../../../styles.scss";

.mainContainer{
  position: relative;

  .closeButton{
    position: absolute;
    top: .25rem;
    right: .25rem;
    font-size: 2.5rem;
    color: black;
    z-index: 10;
    &:hover{
      cursor: pointer;
    }
  }
}