<div class="mainContainer">
  <div class="sizeContainer">
    <!-- form -->
    <form [formGroup]="form" class="formContainer">
      <div class="mainTitle">Please Tell Us About Your Home</div>
      <!-- home style -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth"  >
          <mat-label class="inputLabel">Type of Residence</mat-label>
          <mat-form-field appearance="outline" class="selectDefault full-width">
            <mat-select  placeholder="ex: Apartment" iso id="homeType" formControlName="homeType" >
              <mat-option id="residence{{type}}" *ngFor="let type of homeTypeList" [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error role='alert' *ngIf="error('homeType', 'required')">
                Type Of Residence Is Required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Time At Your Current Residence</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: 2 years" formControlName="timeOfOccupancy" id="timeOfOccupancy"/>
            <mat-error role='alert' *ngIf="error('timeOfOccupancy', 'required')">
                Time At Current Residence Is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Number of Residents  -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Number Of Residents In Your Home</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput mask="999" inputmode="numeric" placeholder="ex: 4" formControlName="numberOfOccupants" id="numberOfOccupants"/>
            <mat-error role='alert' *ngIf="error('numberOfOccupants', 'required')">
              Number Of Residents Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Number Of Children In Your Home</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput mask="999" inputmode="numeric" placeholder="ex: 2" formControlName="numberOfChildren" id="numberOfChildren"/>
            <mat-error role='alert' *ngIf="error('numberOfChildren', 'required')">
                Number of Children Residence Is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- type of environment  -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >Please Describe Your Home Environment</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: Calm, Busy, Hectic, Etc." formControlName="homeEnvironment" id="homeEnvironment"/>
            <mat-error role='alert' *ngIf="error('homeEnvironment', 'required')">
              Home Environment Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="halfWidthContainer"  >
          <div class="inputWrapperColumn halfWidth"  >
            <mat-label class="inputLabel">Does Anyone In Your Home Smoke</mat-label>
            <mat-form-field appearance="outline" class="selectDefault full-width">
              <mat-select  placeholder="Yes / No" iso id="hasSmokers" formControlName="hasSmokers" >
                <mat-option id="residence{{type}}" *ngFor="let type of yesNo" [value]="type">{{type}}</mat-option>
              </mat-select>
              <mat-error role='alert' *ngIf="error('hasSmokers', 'required')">
                  This Field Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputWrapperColumn halfWidth"  >
            <mat-label class="inputLabel">Is Anyone Allergic To Cats</mat-label>
            <mat-form-field appearance="outline" class="selectDefault full-width">
              <mat-select  placeholder="Yes / No" iso id="hasAllergies" formControlName="hasAllergies" >
                <mat-option id="residence{{type}}" *ngFor="let type of yesNo" [value]="type">{{type}}</mat-option>
              </mat-select>
              <mat-error role='alert' *ngIf="error('hasAllergies', 'required')">
                  This Field Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- primary Occupant  -->
      <div class="formLine">
        <div class="inputWrapperColumn halfWidth noTopMargin" >
          <mat-label class="inputLabel" >Who Will Be Primarily Responsible For This Animal</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: Myself, My Wife, My Son" formControlName="primaryOccupant" id="primaryOccupant"/>
            <mat-error role='alert' *ngIf="error('primaryOccupant', 'required')">
              Primary Adopter Is Required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="halfWidthContainer"  >
          <div class="inputWrapperColumn halfWidth"  >
            <mat-label class="inputLabel">Does Your Home Have A Doggy Door</mat-label>
            <mat-form-field appearance="outline" class="selectDefault full-width">
              <mat-select  placeholder="Yes / No" iso id="hasDoggyDoor" formControlName="hasDoggyDoor" >
                <mat-option id="hasDoggyDoor{{type}}" *ngFor="let type of yesNo" [value]="type">{{type}}</mat-option>
              </mat-select>
              <mat-error role='alert' *ngIf="error('hasDoggyDoor', 'required')">
                  This Field Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputWrapperColumn halfWidth"  >
            <mat-label class="inputLabel">Will This Cat Have Outdoor Access</mat-label>
            <mat-form-field appearance="outline" class="selectDefault full-width">
              <mat-select  placeholder="Yes / No" iso id="hasOutdoorAccess" formControlName="hasOutdoorAccess" >
                <mat-option id="residence{{type}}" *ngFor="let type of yesNo" [value]="type">{{type}}</mat-option>
              </mat-select>
              <mat-error role='alert' *ngIf="error('hasOutdoorAccess', 'required')">
                  This Field Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

       <!-- primary Occupant  -->
       <div class="formLine">
        <div class="inputWrapperColumn halfWidth noTopMargin"  >
          <mat-label class="inputLabel">Time This Animal Will Spend Alone On An Average Day</mat-label>
          <mat-form-field appearance="outline" class="selectDefault full-width">
            <mat-select  placeholder="ex: 7-10 Hours" iso id="estTimeAlone" formControlName="estTimeAlone" >
              <mat-option id="residence{{time}}" *ngFor="let time of estTimeList" [value]="time">{{time}}</mat-option>
            </mat-select>
            <mat-error role='alert' *ngIf="error('estTimeAlone', 'required')">
                This Field Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputWrapperColumn halfWidth" >
          <mat-label class="inputLabel" >If something were to happen to you, who would take responsibility of your pet(s)?</mat-label>
          <mat-form-field appearance="outline" class="inputDefault ">
            <input matInput placeholder="ex: My sister Debby" formControlName="emergencyCareTaker" id="emergencyCareTaker"/>
            <mat-error role='alert' *ngIf="error('emergencyCareTaker', 'required')">
                Emergency Caretaker Is Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      

        <!-- nav buttons -->
      <mat-error *ngIf="hasSubmissionError"  id="formError">
        Please Correctly Fill Out All Required Fields 
      </mat-error>
      <div class="navButtonContainer">
        <button mat-button id="backButton" class="buttonTinted buttonLarge navButton" (click)="back()">
          Back
        </button>
        <button mat-button  class="buttonTinted buttonLarge navButton" (click)="next()">
          Next
        </button>
      </div>
    </form>


  </div>
</div>
