@import "../../../../styles.scss";




.mobileLogo{
  margin-left: 1.5rem;
}

.logoATag{
  text-decoration: none;
  @include flexCenterCenter;
}

.topNavContainer{
  position: fixed;
  width: 100vw;
  background-color: $colorPrimary;
  height: 6rem;
  border-bottom: 0rem;
  @include flexCenterSpaceBetween;
  box-shadow: 0 1px 8px rgb(0 0 0 / 15%);
  z-index: 10;
  transition: top 0.5s ease-in-out;
  // border: 2px red solid;
}

.isHidden{
  top: -6rem;
}



.leftBox{
  @include flexCenterCenter;
  margin: 0rem 2rem;
}

#logoImg{
  height: 6rem;
  &:hover{
    cursor: pointer;
  }
}

.logoText{
  font-family: 'Cocon', cursive;
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 1rem;
  color: $colorPrimary;
}

.rightBox{
  margin: 0rem;
  height: 100%;
  padding-left: 0;
  @include flexCenterEnd;
}

#shareBtn{
  margin-left: 0;
  position: relative;
  color: $colorContrastDarkest;

  .shareExpanded{
    height: 18rem;
    box-shadow: 0 11px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
}


.logo{
  color: $colorPrimary;
}

.iconRound{
  @include flexCenterCenter;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}

#expandableList{
  overflow: hidden;
  position: absolute;
  top: 5.5rem;
  left: -.5rem;
  background-color: $colorPrimaryBackground;
  @include flexColumnStart;
  padding-right: 2.25rem;
  padding-left: 2rem;
  transition: all .5s ease-in-out;
  height: 0;
  *{
    margin-top: 1rem;
    color: $colorPrimary;
  }
  .lastLink{
    margin-bottom: 1rem;
  }


}

#donateBtn{
  margin-right: 0;

}


#donateInnerBtn{
 background-color: $colorContrastDarkest;
 color: white;
 padding: .75rem 2rem;
 font-size: 1.25rem;

 &:hover{
  animation: pulse 1.2s ease-in-out infinite;
  }
}

.navBtn{
  padding: 1rem;
  margin: 0rem 1rem;
  @include flexColumnCenter;
  list-style: none;
  background-color: $colorPrimary;
  transition-duration: .2s;

  .material-icons{
    font-size: 2.5rem;
    color: $colorPrimary;
  }

  .buttonTextBox{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    color: $colorPrimaryBackground;
  }

  .buttonUnderline{
    width: 100%;
    height: .25rem;
    background-color: $colorContrastDarkest;
    border-radius: .125rem;
    opacity: 0;
    transition-duration: .3s;
  }

  &:hover{
    cursor: pointer;
    .buttonUnderline{
      opacity: 1;
    }
  } 
}



.active  .buttonUnderline{
  opacity: 1;
}

.buttonIconRight{
  padding: .75rem 1rem;
}



@keyframes pulse {
  0% { transform: scale(1.01); opacity: 1;}
  30% { transform: scale(1.1); opacity: 1;}
  100% { transform: scale(1.01); opacity: 1;}
}

#donateIcon{
  font-size: 1.3rem;
  margin-top: -.125rem;
}



@media only screen and (max-width: $breakpointMedium){


  .topNavContainer{
    @include flexCenterStart;
  }
  .rightJustify{
    position: absolute;
    @include flexCenterEnd;
    width: 100vw;
    height: 6rem;
  }

  .leftJustify{
    @include flexCenterCenter;
    z-index: 10;
  }

  .iconRound{
    margin-left: 1.5rem;
  }

  #aboutBtn{
    padding-top: 2rem;
  }

  .menuTrigger{
    height: 100%;
    width: 8rem;
    @include flexCenterCenter;

    span{
      transition: all .5s ease-in-out;
      color: $colorPrimaryBackground;
      transform: scale(1.5);
    }
    .isSpun{
 
      transform: rotateZ(-90deg) scale(1.5);
    }   
  }

  #menuTriggerBtn:hover{
    cursor: pointer;
  }

  .menuList{
    height: 100vh;
    margin-top: 0;
    width: 8rem;
    padding: 0rem;
    position: absolute;
    top: 6rem;
    transition: all .5s ease-in-out;
    transform:translateX(9rem);
    padding-bottom: calc(100vh - 20.5rem);
    background-color: $colorPrimaryBackground;
    li{
      margin: 0;
    }
  }

  .isExpanded{
    transform:translateX(0rem);
    box-shadow: 0 11px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .centerBox{
    z-index: 1;
  }

  #shareBtn{
    position:absolute;
    right: -.375rem;
  }

  .navBtn{
    background-color: $colorPrimaryBackground;

    
    .buttonTextBox{
      color: $colorLightText;
    }
  }

}


@media only screen and (max-width: 350px){
  .logoText{
    display: none;
  }
}

