<nav class="topNavContainer">
  <div class="leftBox">
    <img id="logoImg" src="https://ih1.redbubble.net/image.687740923.7472/flat,750x1000,075,f.u6.jpg" alt="Main Title Logo">
  </div>
  <ul class="rightBox">
    <li id="aboutBtn" class="navBtn">
      <span class="buttonTextBox">About</span>
      <span class="buttonUnderline"></span>
    </li>
    <li id="volunteerBtn" class="navBtn">
      <span class="buttonTextBox">Volunteer</span>
      <span class="buttonUnderline"></span>
    </li>
    <li id="adoptBtn" class="navBtn">
      <span class="buttonTextBox">Adopt</span>
      <span class="buttonUnderline"></span>
    </li>
    <li id="donateBtn" class="navBtn">
      <span class="buttonTextBox">Donate</span>
      <span class="buttonUnderline"></span>
    </li>
  </ul>
</nav>