<div class="mainContainer">
  <div class="carouselContainer" *ngFor="let item of carouselList">
    <!-- for image -->
    <img *ngIf="!item.isIframe" class="carouselImg" src="{{item.imgSource}}" alt="pet image {{item.id}}">
    <!-- or for iframe -->
    <iframe *ngIf="item.isIframe" title="Video" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen name="vidly-frame" [src]="item.iframeSrc | safe">
      <a *ngIf="item.isIframe" target="_blank" href="{{item.aHref}}">
        <img src="{{item.imgSource}}" />
      </a>
    </iframe>
  </div>
</div>
