@import '../../../../styles.scss';

.mainContainer{
  width: 100%;
  @include flexColumnStart;
  background-color: $colorBackground;
}

.topBanner{
  white-space: nowrap;
  width: 70%;
  max-width: 1200px;
  @include flexCenterCenter;
  

  .highlightLine{
    width: 50%;
    height: .125rem;
    border-radius: .0675rem;
    background-color: $colorContrastDarkest;
  }
}

.sizeContainer{
  width: 70%;
  max-width: 1200px;
  @include flexColumnStart;

  .imgContainer{
    width: 60%;
    max-width: 600px;
    margin-bottom: 1.5rem;
  }
}


.itemTitle{
  margin: 1.5rem 0;
}








//*******************Carousel********************

.scrollEnabled{
  touch-action: pan-y !important;
}

.mainContainer{
  width: 100%;
  @include flexCenterCenter;

  .frameContainer{
    z-index: 8;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 18.75rem;
    overflow: hidden;
    @include flexCenterCenter;
    background-color: rgb(46, 46, 46, .2);
    margin-bottom: 1.5rem;

    .navButtonContainer{
      position: absolute;
    }

    #nextButton{
      z-index: 10;
      right: 1rem;
    }

    #lastButton{
      z-index: 10;
      left: 1rem;
    }

    .carouselContainer{
      position: relative;
      @include flexCenterCenter;
      width: 400px;
      height: 400px;

      
  
      .carouselItem{
        height: 400px;
        width: 400px;
        position: absolute;
        overflow: hidden;
        -webkit-transition: all .6s ease;
        transition: right .6s ease, opacity .6s ease;
        @include flexCenterCenter;
      }
  
      .isCurrent{
        right: 0;
        opacity: 1;
      }

      .isLesser{
        opacity: 0;
        right: 800px;
      }
      
      .isGreater{
        opacity: 0;
        right: -800px;
      }

      .isLesserStaged{
        opacity: 0;
        right: 800px;
      }
      
      .isGreaterStaged{
        opacity: 0;
        right: -800px;
      }
  
      .isNext{
        right: -400px;
        opacity: .3;
      }
  
      .isLast{
        right: 400px;
        opacity: .3;
      }
    }
  }
}

.navButton{
  color: white;
  font-size: 3rem;
  font-weight: 900;

  &:hover{
    cursor: pointer;
  }
}


.carouselImg{
  object-fit: fill;
  overflow: auto;
}

.petIframe{
  @include flexCenterCenter;
  width: 100%;
  height: 100%;
  border-style: none;
}



@media only screen and (max-width: $breakpointMedium) {


  .sizeContainer{
    width: calc(100% - 3rem);
    @include flexColumnCenter;

    .imgContainer{
      width: 80%;
    }
  }

    .topBanner{
    width: calc(100% - 3rem);
  }


}


@media only screen and (max-width: $breakpointSmall) {


    .sizeContainer .imgContainer{
      width: 100%;
    }


    .mainContainer{    
      .frameContainer{
        max-width: 56.25rem;
        min-width: 18.75rem;    
        .carouselContainer{
          width: 18.75rem;
          height: 18.75rem;      
          .carouselItem{
            height: 18.75rem;
            width: 18.75rem;
          }      
          .isCurrent{
            right: 0;
            opacity: 1;
          }    
          .isLesser{
            opacity: 0;
            right: 37.5rem;
          }          
          .isGreater{
            opacity: 0;
            right: -37.5rem;
          }
          .isLesserStaged{
            opacity: 0;
            right: 37.5rem;
          }          
          .isGreaterStaged{
            opacity: 0;
            right: -37.5rem;
          }      
          .isNext{
            right: -18.75rem;
            opacity: .3;
          }      
          .isLast{
            right: 18.75rem;
            opacity: .3;
          }
        }
      }
    }
  
}