@import '../../../../../styles.scss';


//***********pet grid************
.mainContainer{
  background-color: $colorBackground;
  padding-bottom: 2rem
}

#petGirdContainer{
  @include flexCenterSpaceAround;
  flex-wrap: wrap;



  .petContainer{
    @include flexCenterCenter;
    width: 30vw;
    height: 30vw;
    max-width: 35rem ;
    max-height: 35rem ;
    margin: 2vw 0;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    background-color: #7f757580;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      .petImg{
        height: 100%;
        object-fit: contain;
        transition: .6s ease-in-out;
        transform: scale(1);
      }

      .petName{
        opacity: 0;
        transition: .4s ease-in-out;
        transform: scale(0);
        z-index: 2;
        position: absolute;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem;
        border-radius: .75rem;
        background-color: $colorBackground;
      }

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      .petImg{
        transform: scale(1.1);
        cursor: pointer;
      }
      
      .petName {
        cursor: pointer;
        transform: scale(1);
        opacity: 1;
      }

    } 
    
  
  }
}



@media only screen and (max-width: $breakpointMedium){


  #petGirdContainer .petContainer{
    width: 45vw;
    height: 45vw;
    border-bottom-right-radius: 0rem;
    .petName{
      transform: scale(1);
      opacity: 1;
      bottom: 0;
      right: 0;
      border-radius: 0;
      border-top-left-radius: .5rem;
      font-size: 1rem;
      padding: .75rem;
    }
  }

}

@media only screen and (max-width: $breakpointSmall){

  #petGirdContainer .petContainer{
    width: 94vw;
    height: 94vw;
    margin: 2vw;
  }

}
