<h2 style="color: rgb(184, 90, 40);"> You Have a new Adoption Request</h2>
<h3>Adopter Details</h3>
<ul>
  <li style="line-height: 1.5rem; font-weight: 500;">Name: <span style="margin-left: 0.5rem; font-weight: 400;">hello</span> </li>
  <li style="line-height: 1.5rem; font-weight: 500;">Company: </li>
  <li style="line-height: 1.5rem; font-weight: 500;">Email: </li>
  <li style="line-height: 1.5rem; font-weight: 500;">Phone Number: </li>
</ul>
<br>
<h3>Home Details</h3>
<ul>
  <li>Name: </li>
  <li>Company: </li>
  <li>Email: </li>
  <li>Phone Number: </li>
</ul>
<br>
<h3>Pet Details</h3>
<ul>
  <li>Name: </li>
  <li>Company: </li>
  <li>Email: </li>
  <li>Phone Number: </li>
</ul>