<div class="mainContainer">
  <div class="sizeContainer">
    <div class="card" id="aboutCard">
      <img src="https://hips.hearstapps.com/hmg-prod/images/cat-quotes-1543599392.jpg?crop=1.00xw:0.757xh;0,0&resize=1200:*" alt="aboutCard main img" class="cardTopImg">
      <div class="iconContainer">
        <span class="material-icons middleIcon">
          pets
        </span>
      </div>
      <div class="title">About</div>
      <div class="mainContent">Learn More About The Kitten Rescue Project</div>
      <button mat-button  class="buttonTinted buttonLarge navButton" (click)="navigate('about-page')">About</button>
    </div>
    <div class="card" id="volunteerCard" >
      <img src="https://hips.hearstapps.com/hmg-prod/images/cute-photos-of-cats-in-grass-1593184777.jpg" alt="aboutCard main img" class="cardTopImg">
            <div class="iconContainer">
        <span class="material-icons middleIcon">
          pets
        </span>
      </div>
      <div class="title">
        Volunteer
      </div>
      <div class="mainContent">
        We Are Always In Need Of Loving Support, Find Out How You Can Help
      </div>
      <button mat-button  class="buttonTinted buttonLarge navButton" (click)="navigate('volunteer-page')" >
        Volunteer
      </button>
    </div>
    <div class="card" id="adoptCard">
      <img src="https://i.pinimg.com/736x/aa/02/78/aa02780bbc7e6c5e2d52d9b0e919fbf6.jpg" alt="aboutCard main img" class="cardTopImg">
            <div class="iconContainer">
        <span class="material-icons middleIcon">
          pets
        </span>
      </div>
      <div class="title">
        Adopt
      </div>
      <div class="mainContent">
        Browse And Learn More About Our Adoptable Cats
      </div>
      <button mat-button  class="buttonTinted buttonLarge navButton" (click)="navigate('adopt-page/home')">
        Adopt
      </button>
    </div>
    <div class="card" id="donateCard">
      <img src="https://hips.hearstapps.com/hmg-prod/images/funny-cat-captions-1563551842.jpg?crop=0.670xw:1.00xh;0.147xw,0&resize=1200:*" alt="aboutCard main img" class="cardTopImg">
            <div class="iconContainer">
        <span class="material-icons middleIcon">
          pets
        </span>
      </div>
      <div class="title">
        Donate
      </div>
      <div class="mainContent">
        Donate To Help Us Give The Best Care We Can
      </div>
      <button mat-button  class="buttonTinted buttonLarge navButton" (click)="navigate('donate-page')">
        Donate
      </button>
    </div>
  </div>
</div>
