@import "../../../../styles.scss";

.mainContainer{
  width: 100%;
  @include flexColumnStart;
}

.topBanner{
  white-space: nowrap;
  width: 70%;
  max-width: 1200px;
  @include flexCenterCenter;
  

  .highlightLine{
    width: 50%;
    height: .125rem;
    border-radius: .0675rem;
    background-color: $colorContrastDarkest;
  }
}


.textBlock{
  width: 100%;
}

.sizeContainer{
  width: 70%;
  max-width: 1200px;
  @include flexColumnStart;
}

.headerContainer{
  width: 100%;
  @include flexColumnStart;
  .headerTitle{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1.5rem;
    color: $colorPrimary;
  }
  .headerContent{
    text-align: center;
    font-size: 1.5rem;
    color: $colorText;
    margin-bottom: 2rem;
  }
}

.socialLink{
  text-decoration: none;
  @extend .navButton;
  #emailButton{
    width: 100%;
  }
}

.navButton{
  margin: 1.5rem;
  width: 40%;
}

#viewFoster{
  width: calc(70% - 1.5rem);
}


.fosterContainer{
  width: 100%;
  background-color: $colorBackground;
  @include flexColumnCenter;

  .fosterSubTitle{
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    color: $colorText;
  }

  .sizeContainer{
    padding-top: 2rem;

    .imgContainer{
      width: 60%;
      max-width: 600px;
    }
  
    .txtContainer{
      width: calc(100% - 3rem);
      font-size: 1.125rem;
      line-height: 1.5rem;
      text-align: start;
      @include flexColumnCenter;
    }
  }
}

.title{
  margin: 1.5rem 0;
}

.picture{
  border-radius: .75rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.mailIcon{
  color: $colorPrimary;
  font-size: 2rem;
  translate: 0rem 0.5rem;
}

@media only screen and (max-width: $breakpointMedium) {


  .headerContainer{
    .headerContent{
      font-size: 1.125rem;
    }
    .sizeContainer{
      width: calc(100% - 3rem);
    }
  }


  .topBanner{
    width: calc(100% - 3rem);
  }



  .fosterContainer .sizeContainer{
    width: calc(100% - 3rem);
    margin-bottom: 0rem;
    @include flexColumnCenter;
    .txtContainer{
      padding: 0 1.5rem;
      width: 100%;
      text-align: left;
      .fosterSubTitle{
        text-align: center;
      }
      .fostering{
        padding-left: 0;
        text-align: left;
      }
    }
    .imgContainer{
      width: 80%;
    }
  }

  .navButton{
    width: 70%;
  }
}

@media only screen and (max-width: $breakpointSmall) {

  .fosterContainer .sizeContainer .imgContainer{
    width: 100%;
  }


  .navButton{
    width: 90%;
  }

  #viewFoster{
    width: calc(100%);
  }

  #emailIcon{
    font-size: 1rem;
  }
}

