<div class="mainContainer">
  <div class="topBanner">
    <div class="title">Work With Us To Rescue More Kittens</div>
  </div>

  <div class="headerContainer">
    <div class="sizeContainer">
      <div class="headerTitle">Come Work With Us</div>
      <div class="headerContent">As a non-profit rescue we are always looking for people to help support our cause.
        <br>
        <br>
        If you would like to help us out we currently need both donations and fosters.
        <br>
        <br>
        To learn more about fostering please continue to read on.
        <br>
        <br>
        To donate please follow the link below.
      </div>
      <button mat-button class="buttonTinted buttonLarge navButton" id="viewDonate" (click)="goDonate()" >Donate</button>
    </div>
    <div class="fosterContainer">
      <div class="sizeContainer">
        <div class="imgContainer">
          <img class="picture" src="../../../../assets/images/grace.jpg" alt="cute kitten">
        </div>
        <div class="txtContainer">
          <div class="fosterTitle">More About Fostering</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu bibendum at varius vel pharetra vel. Posuere ac ut consequat semper. Ullamcorper sit amet risus nullam eget felis eget. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Posuere morbi leo urna molestie at elementum eu. Lorem donec massa sapien faucibus. Aliquam sem fringilla ut morbi tincidunt augue. Nec sagittis aliquam malesuada bibendum arcu vitae. Cras adipiscing enim eu turpis. Dapibus ultrices in iaculis nunc sed augue. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus.
          <button mat-button class="buttonTinted buttonLarge navButton" id="viewFoster" (click)="goFoster()" >Apply To Become A Foster</button>
      </div>
    </div>
  </div>

</div>