<div class="mainContainer">
  <img class="imageBanner animate__animated animate__fadeIn" src="../../../../assets/images/Banners/twoOutdoorTabbys.jpg" alt="Upside down kitten">

  <div class="topBanner">
    <div class="highlightLine"></div>
    <div class="title">Come Work With Us</div>
    <div class="highlightLine"></div>
  </div>

  <div class="headerContainer">
    <div class="sizeContainer">

      <div class="bodyContents textBlock">Are you a cat lover looking for ways to give back to your community? Consider volunteering at our kitten rescue! There are a variety of ways you can help.
      </div>
    
    </div>
    <div class="fosterContainer">
      <div class="sizeContainer">
        <div class="imgContainer">
          <img class="picture animate__animated animate__zoomIn" src="../../../../assets/images/cuddlePuddle.jpg" alt="cute kitten">
        </div>
        <div class="txtContainer">
          <div class="title">More About Volunteering</div>
            <div class="textBlock bodyContents">
              <div class="subTitle">Foster kittens: </div>
              Fostering involves taking care of kittens in your home until they are old enough to be adopted. This can be a great way to make a difference in the lives of these tiny animals and help them find forever homes. We will provide all of the supplies needed to foster, all we ask of you is your time and a space in your home for fosters. We require a minimum of 2 foster kittens per foster in most cases. This allows for them to have a companion to socialize with. 
            </div>
            <div class="textBlock bodyContents">
              <div class="subTitle">Donate supplies:</div>
               We rely on donations of supplies such as food, litter, and toys. Consider donating these items to help support the kittens in their care.
              </div>
            <div class="textBlock bodyContents">
              
              <div class="subTitle">Public Relations: </div>
              Assist in organizing unique fundraising occasions, communicate with potential donors from both individuals and corporations to contribute to The Kitten Rescue Project, and promote the cause.
            </div>
            <div class="textBlock bodyContents">
              
              <div class="subTitle">Grant Writers: </div>
              We are looking for experienced grant writers to help us apply for funding. The grant writers are tasked with identifying funding prospects for The Kitten Rescue Project and composing top-notch proposals to secure grant funding. Their responsibilities include researching submission deadlines, drafting grant applications, submitting them for approval and tracking outcomes.
            </div>
            <div class="textBlock bodyContents">
              
              <div class="subTitle">Spread the word: </div>
              Even if you can't volunteer directly, you can still make a difference by spreading the word about our kitten rescue on social media or to friends and family who might be interested in adopting or donating. You can use your social media presence to create a fundraiser for your birthday on Facebook or find other creative ways to help us get more exposure. 
            </div>
            <div class="bodyContents">
                  
              No matter how you choose to get involved, volunteering can be a rewarding and fulfilling experience. Contact us today to learn more about how you can help!  
            </div>
 
          <span id="emailIcon" style="margin-top: 1rem;"><div class="material-icons mailIcon">mail_outline</div> Info@TheKittenProject.org</span>  
    
               
          <!-- <button mat-button class="buttonTinted buttonLarge navButton" id="viewFoster" (click)="goFoster()" >Apply To Become A Foster</button> -->
          <a href="mailto:Info@TheKittenProject.org" target="_blank" class="socialLink" >
            <button mat-button class="buttonTinted buttonLarge" id="emailButton">Email Us</button>
          </a>
          
      </div>
    </div>
  </div>

</div>