@import '../../../../styles.scss';

.mainContainer{
  width: 100%;
  @include flexCenterCenter;
}

.tabGroup{
  width: calc(100% - 3rem);
  max-width: 1200px;
  mat-tab-body{
    mat-tab-body-content {
      @include flexCenterSpaceBetween;
    }
  }
}

.buttonLarge{
  width: 100%;
}

.picture{
  margin-top: 2rem;
  width: 35%;
}

.textContainer{
  margin-top: 2rem;
  width: 60%;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

.mat-tab-labels{
  .mat-tab-label {
    width: calc(33vw - 3rem);
  }
}

.buttonContainer{
  width: 100%;
  @include flexColumnCenter;
  margin-top: 2rem;

  .wishlistButton{
    width: 60%;
    margin: 0 1.5rem;
    margin-bottom: 1.5em;
  }
}

.bigText{
  font-size: 1.25rem;
}

.disclosure{
  font-size: 1rem;
  text-align: left;
  color: black;
  margin-top: 1.5rem;
  .material-icons{
    color: $colorPrimary;
    translate: 0 .25rem;
  }
}

.noDecoration{
  color: $colorPrimaryBackground;
  text-decoration: none;
}

.imgContainer{
  width: 35%;
  @include flexColumnCenter;
  img{
    width: 100%;
  }
}

#chewyLogo{
  margin-top: -20%;
}

@media only screen and (max-width: $breakpointMedium){

  .textContainer{
    line-height: 1.375rem;
    font-size: 1rem;
  }
  .bigText{
    font-size: 1.25rem;
  }

  .disclosure {
    font-size: .875rem;
  }
}

@media only screen and (max-width: $breakpointSmall){

  .tabGroup{
    width: calc(100vw - 2rem);
  }

  .picture{
    margin: 1.5rem 0;
    width: calc(100% - 1.5rem);
  }
  
  .textContainer{
    margin-top: 0;
    width: calc(100% - 1.5rem);
    text-align: left;
  }

  .buttonContainer   .wishlistButton{
    width: 70%;
  }

}

@media only screen and (max-width: $breakpointXSmall){


  .buttonContainer .wishlistButton{
    width: 90%;
  }

}