@import '../styles.scss';

app-landing-page{
  display: block;
  width: 100vw;
}

.mainContainer{
  //hide nav menu in mobile
  overflow-x: hidden;
  
  app-adopt-page{
    height: 100%;
  }
}

app-contact-page{
  min-height: calc(100vh - 8rem);
}

.routerContainer{
  //compensate for fixed header
  border-top: 6rem solid $colorPrimary;
  min-height: calc(100vh - 9rem);
  
}

@media only screen and (max-width: $breakpointMedium){
  //compensate for fixed footer
  .routerContainer{
    margin-bottom: 3rem;
  }

}