@import '../styles.scss';

app-landing-page{
  display: block;
  width: 100vw;
}

.mainContainer{
  app-adopt-page{
height: 100%;
  }
}

app-contact-page{
  min-height: calc(100vh - 8rem);
}

.routerContainer{
  min-height: calc(100vh - 9rem);
}