@import "../../../../styles.scss";


.topBanner{
  width: 100%;
  height: 10rem;
  background-color: $colorPrimaryBackground;
  @include flexCenterCenter;

}


.title{
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 500;
  color: $colorLightText;
  text-align: center;
  font-family: 'Courgette', cursive;
  margin: 0 2rem;

}



@media only screen and (max-width: $breakpointMedium) {
  .title{
    font-size: 3rem;
  }
  .topBanner{
    height: 6rem;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .title{
    font-size: 2rem;
  }

}