@import "../../../../styles.scss";


.topBanner{
  @include flexColumnCenter;
  width: 100%;
  overflow: hidden;
  .innerBanner{
    white-space: nowrap;
    width: calc(100vw - 4rem);
    max-width: 1180px;
    @include flexCenterCenter;

    
  .highlightLine{
    width: 50%;
    height: .125rem;
    border-radius: .0675rem;
    background-color: $colorContrastDarkest;
  }
  }

}

app-success-stories{
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: $breakpointMedium) {
  .topBanner .innerBanner{
    width: 90vw;
  }
}
