@import "../src/styles/variables";
@import "../src/styles/mixins";
@import "../src/styles/main";
@import "../src/styles/components/badges";
@import "../src/styles/components/buttons";
@import "../src/styles/components/cards";
@import "../src/styles/components/checkboxes";
@import "../src/styles/components/inputs";
@import "../src/styles/components/snackBar";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'material-icons/iconfont/material-icons.css';

//define font from downloaded file
@font-face {
  font-family: 'Courgette';
  src: url('./assets/fonts/Courgette/Courgette-Regular.ttf') format('truetype');
}

::selection {
  background-color: #000;
  color: #fff;
  opacity: 0;
}