//*************animate***************

//add to make sure the animation does not flash
.animate__animated{
  opacity: 0;
}

.animate__animated.animate__zoomIn, .animate__animated.animate__shakeY, .animate__animated.animate__fadeInUp{
  opacity: 1;
}

//******general*****************

//enable scroll on swipe detect
.scrollEnabled{
  touch-action: pan-y !important;
}


.title{
  font-family: 'Cocon', cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: $colorPrimary;
  text-align: center;
}
.bodyContents{
  font-size: 1.125rem;
}

.textBlock{
  margin-bottom: 1.25rem;
}

.subTitle{
  line-height: 1.375rem;
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.mat-tab-label {
  opacity: 1 !important; 
}

.picture{
  border-radius: .75rem;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.imageBanner{
  width:100vw;
  max-height: 70vh;
  min-height: 50vh;
  object-fit: cover;

}


@media only screen and (max-width: $breakpointMedium){

  .imageBanner{
    min-height: 40vh;
  }

  .bodyContents{
    font-size: 1rem;
  }

  .title{
    font-size: 2rem;
    line-height: 2rem;
  }

  .subTitle{
    line-height: 1.25rem;
    font-size: 1.25rem;
  }

}
@media only screen and (max-width: $breakpointSmall){

  .title{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .imageBanner{
    min-height: 20vh;
  }

}