

.title{
  font-family: 'Merienda', cursive;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: $colorPrimary;
  text-align: center;
}
.bodyContents{
  font-size: 1.125rem;
}

.textBlock{
  margin-bottom: 1.25rem;
}

.subTitle{
  line-height: 1.375rem;
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

@media only screen and (max-width: $breakpointMedium){

  .bodyContents{
    font-size: 1rem;
  }

  .title{
    font-size: 2rem;
    line-height: 2rem;
  }

  .subTitle{
    line-height: 1.25rem;
    font-size: 1.25rem;
  }

}
@media only screen and (max-width: $breakpointMedium){

  .title{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

}