app-root{
  display: block;
}


.justifyRight{
  @include flexCenterEnd;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: $colorText;
}


//remove padding form the dialogs

.noPadding .mat-dialog-container{
  max-width: 100vw;
  padding: 0;
}

//change overlay color for dialog

.cdk-overlay-container{


  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .2);
  }

}

.inputLabel{
  font-size: 1.125rem;
}





app-adopt-page{
  width: 100vw;
  height: calc(100vh - 6rem);
}

//scroll bar
*::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  left: -4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}


//remove focus indicator on page load
:focus-visible {
  outline: none;
}

//for modal overflow
.overflowAuto{
  overflow-y: auto;
  max-height: 95vh;
}

//override invalid input{
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: $colorWarn !important;
}

.mat-error{
  color: $colorWarn !important;
}

//tabs

.mat-tab-labels{
  justify-content: center;
  .mat-tab-label {
    width: calc(33% - 3rem);
  }
}


.mat-tab-nav-bar, .mat-tab-header {

  border-bottom: 1px solid $colorContrastDarkest;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 1.125rem;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $colorPrimary;
}

.mat-ink-bar {
  border-radius: 2px;
  height: 4px !important;
}

.mat-tab-body-content { @include flexCenterSpaceBetween;}






@media only screen and (max-width: $breakpointSmall){
  .overflowAuto{
    max-height: 100vh;
    *::-webkit-scrollbar {
      width: 0px;
    }
  }
  .mat-tab-labels .mat-tab-label {
    width: calc(33% - 0.5rem);
  } 

  .mat-tab-body-content { @include flexColumnStart;}

  .mat-tab-label .mat-tab-label-content {
    font-size: .875rem;
  }
}

@media only screen and (max-width: $breakpointXSmall){
  .mat-tab-label{
    padding: 0 1rem !important;
    .mat-tab-label-content {
      font-size: .75rem;
    }

  } 
}

