<div class="mainContainer">
  <div class="sizeContainer">
    <!-- form -->
    <form [formGroup]="form" class="formContainer">
      <div class="mainTitle">We want to know more about you.</div>
      <!-- name -->
      <div class="formLine">
      </div>

        <!-- nav buttons -->
      <mat-error *ngIf="hasSubmissionError"  id="formError">
        Please Correctly Fill Out All Required Fields 
      </mat-error>
      <div class="navButtonContainer">
        <button mat-button  class="buttonTinted buttonLarge navButton" (click)="back()">
          Back
        </button>
        <button mat-button  class="buttonTinted buttonLarge navButton" (click)="next()">
          Next
        </button>
      </div>
    </form>


  </div>
</div>
