@import '../../../../styles.scss';

.mainContainer{
  width: 100%;
  @include flexCenterCenter;
  margin-bottom: 2rem;

}

.tabGroup{
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  max-width: 1200px;
  mat-tab-body{
    mat-tab-body-content {
      @include flexCenterSpaceBetween;
    }
  }
  
}


.picture{
  margin-top: 2rem;
  width: 35%;
}

.textContainer{
  margin-top: 2rem;
  width: 60%;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

.centerContainer{
  width: 100%;
  @include flexColumnCenter;

  .pictureColumn{
    @extend .picture;
    width: 40%;
  }
  .textContainerColumn{
    width: calc(100% - 3rem);
    @extend .textContainer;
  }
}

.mat-tab-labels{
  .mat-tab-label {
    width: calc(33vw - 3rem);
  }
}

@media only screen and (max-width: $breakpointMedium){

  .textContainer{
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: $breakpointSmall){

  .picture{
    margin: 1.5rem;
    width: calc(100% - 3rem);
  }
  
  .textContainer{
    margin: 1.5rem;
    width: calc(100% - 3rem);
    text-align: center;
  }
}