<div class="mainContainer">
  <mat-tab-group class="tabGroup">
    <mat-tab label="Mission" class="tab">
      <img class="picture" src="../../../../assets/images/fuzzyWumps.jpg" alt="cute kitten">
       <div class="textContainer">At The Kitten Rescue Project, we are dedicated to saving the lives of kittens and neonates in need, with the ultimate goal of finding them forever homes. We rescue abandoned, orphaned, and sick kittens and work tirelessly to provide them with the care, nutrition, and socialization they require to grow and develop. We call upon all animal lovers to join us in our mission to rescue, rehabilitate, and rehome orphaned kittens. Whether you can offer your time, your resources, or your support, your contribution can make a difference in the lives of these vulnerable creatures. Together, we can make a world where every kitten has a chance to grow up happy and healthy.</div>
    </mat-tab>
    <mat-tab label="Vision" class="tab">
      <img *ngIf="currentBreakPoint > 1 " class="picture" src="../../../../assets/images/eliza.jpg" alt="cute kitten"> 
      <div class="textContainer">Our vision at The Kitten Rescue Project is a world where every orphaned kitten and neonate has the chance to thrive and find their forever home. We believe that no kitten should be left to suffer or die alone, and that every kitten deserves love, care, and protection. We envision a future where orphaned kittens and neonates are no longer overlooked or forgotten due to lack of resources, but are instead given a chance to survive. We are committed to working towards this vision every day, and invite you to join us in making a difference in the lives of orphaned kittens everywhere.</div>
      <img *ngIf="currentBreakPoint <= 1"  class="picture" src="../../../../assets/images/eliza.jpg" alt="cute kitten"> 
    </mat-tab>
    <mat-tab label="History" class="tab">
        <img class="picture" src="../../../../assets/images/ButterNut.jpg" alt="cute kitten">
       <div class="textContainer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget est. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Nam aliquam sem et tortor consequat id. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Sapien eget mi proin sed libero enim sed faucibus. Quis hendrerit dolor magna eget est lorem ipsum. Leo a diam sollicitudin tempor id eu nisl nunc. At urna condimentum mattis pellentesque. Id donec ultrices tincidunt arcu non sodales. Nec nam aliquam sem et tortor. Gravida neque convallis a cras semper auctor neque vitae. Eu turpis egestas pretium aenean pharetra. Vel pharetra vel turpis nunc.</div>
    </mat-tab>
  </mat-tab-group>
</div>
