@import '../../../../styles.scss';





.scrollEnabled{
  touch-action: pan-y !important;
}

.mainContainer{
  width: 100%;
  @include flexCenterCenter;
  margin-bottom: 2rem;

}

.tabGroup{
  margin: 0 1.5rem;
  width: calc(100% - 3rem);
  max-width: 1200px;
  mat-tab-body{
    mat-tab-body-content {
      @include flexCenterSpaceBetween;
    }
  }
  
}


.picture{
  display:block;
  margin-top: 2rem;
  width: 35%;
}

.textContainer{
  margin-top: 2rem;
  width: 60%;
  font-size: 1.125rem;
}

.centerContainer{
  width: 100%;
  @include flexColumnCenter;

  .pictureColumn{
    @extend .picture;
    width: 40%;
  }
  .textContainerColumn{
    width: calc(100% - 3rem);
    @extend .textContainer;
  }
}

.mat-tab-labels{
  .mat-tab-label {
    width: calc(33vw - 3rem);
  }
}

@media only screen and (max-width: $breakpointMedium){
  
  .tabGroup{
    width: calc(100vw - 2rem);
  }

  .textContainer{
    font-size: 1rem;
  }
}

@media only screen and (max-width: $breakpointSmall){

  .picture{
    margin-bottom: 2rem;
    width: calc(100%);
  }
  
  .textContainer{
    margin-bottom: 2rem;
    margin-top: 0rem;
    width: calc(100%);
    text-align: left;
    line-height: 1.25rem;
    font-size: 1rem;
  }

}