@import '../../../../../styles.scss';


.mainBanner{
  width: 100vw;
  height: 15rem;
  overflow: hidden;
  @include flexCenterCenter;
  background-color: #495a6c;
  .mainBannerImg{
    height:14rem;
    margin-top: 0rem;
  }
}
.subtitle{
  font-size: 1.375rem;
  font-weight: 500;
  margin: 1rem;
  color: $colorLightText;
}

.topBanner{
  width: 100%;
  height: 30vh;
  background-color: $colorBannerBackground;
  @include flexColumnCenter;

}

.title{
  margin: 2rem 0;
  font-size: 3.5rem;
  font-weight: 500;
  color: $colorPrimaryBackground;
  text-align: center;
  font-family: 'Courgette', cursive;
  margin: 0 2rem;

}

#aboutAdoption{
  @include flexColumnStart;
}

.primaryBlock{
  background-color: $colorPrimaryBackground;
  width: calc(100% - 2rem);
  padding: 1rem;
}

.mainTitle{
  text-align: center;
  margin: 2rem 0;
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  color: $colorPrimary;
  @include flexCenterCenter;
}

.mainContents{
  text-align: center;
  width: 80%;
  line-height: 1.5rem;
}

#viewAdoptList{
  margin: 1.5rem 0;
}



#processContainer{
  background-color: $colorBackground;
  @include flexCenterCenter;
}

#matchContainer{

  @include flexCenterCenter;
  padding-bottom: 3rem;
}

.centerContainer{
  padding: 3rem;

  .sizeContainer{
    width: 70vw;
    max-width: 1200px;
    @include flexCenterSpaceBetween;

    .leftContainer{
      width: 60%;
    }

    .rightContainer{
      width: 35%;
      .picture{
        border-radius: .75rem;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }

}

.itemContents{
  text-align: center;
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

.itemTitle{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: $colorPrimary;
}

#adoptListTitleContainer{
  padding-top: 2rem;
  background-color: $colorBackground;
  @include flexCenterCenter;

  .adoptListLine{
    border: 2px solid $colorLightText;
    width: 30vw;
    margin: 2rem;
  }

  #adoptListTitle{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: $colorPrimary;
  
  }

}





@media only screen and (max-width: $breakpointMedium){

  .centerContainer .sizeContainer{
    width: 100%;
    flex-direction: column;
    .rightContainer{
      width: 100%;
    }
    .leftContainer{
      width: 100%;
    }
  }

  .title{
    font-size: 3rem;
  }
  .topBanner{
    height: 10rem;
  }
}


@media only screen and (max-width: $breakpointSmall){

  .mainBanner{
    margin-bottom: 2vw;
  }

  #adoptListTitleContainer  #adoptListTitle{
    font-size: 2rem;
  }

  #adoptListTitleContainer .adoptListLine{
    margin: .75rem;
  }
}

@media only screen and (max-width: $breakpointXSmall){

  .title{
    font-size: 2rem;
  }

  .mainTitle{
    font-size: 2rem;
  }
  .itemTitle{
    font-size: 2rem;
  }

}