@import '../../../../../styles.scss';



.primaryBlock{
  @include flexColumnStart;
  background-color: $colorPrimaryBackground;

}

.mainTitle{
  text-align: center;
  margin: 2rem 0;
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  color: $colorPrimary;
  @include flexCenterCenter;
}

.mainContents{
  text-align: center;
  width: calc(100% - 6rem);
  margin-bottom: 1.5rem;
}

#viewAdoptList{
  margin-bottom: 1.5rem;
}



#processContainer{
  background-color: $colorBackground;
  @include flexCenterCenter;
}

#matchContainer{

  @include flexCenterCenter;
  padding-bottom: 3rem;
}

.centerContainer{
  padding: 3rem;

  .sizeContainer{
    width: 70vw;
    max-width: 1200px;
    @include flexCenterSpaceBetween;

    .leftContainer{
      width: 60%;
    }

    .rightContainer{
      width: 35%;
      .picture{
        border-radius: .75rem;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 1.5rem;
      }
    }
  }

}

.itemContents{
  text-align: left;
}

.itemTitle{
  text-align: center;
  margin-bottom: 1.5rem;
}

#adoptListTitleContainer{
  padding-top: 2rem;
  background-color: $colorBackground;
  @include flexCenterCenter;

  .adoptListLine{
    border: 2px solid $colorLightText;
    width: 30vw;
    margin: 2rem;
  }

  #adoptListTitle{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: $colorPrimary;
  
  }

}

#starIcon{
  color: $colorPrimary;
  translate: 0 .125rem;
}




@media only screen and (max-width: $breakpointMedium){

  .centerContainer .sizeContainer{
    width: 100%;
    flex-direction: column;
    .rightContainer{
      width: 100%;
    }
    .leftContainer{
      width: 100%;
    }
  }

}


@media only screen and (max-width: $breakpointSmall){

  .mainBanner{
    margin-bottom: 2vw;
  }

  #adoptListTitleContainer  #adoptListTitle{
    font-size: 2rem;
  }

  #adoptListTitleContainer .adoptListLine{
    margin: .75rem;
  }

}

@media only screen and (max-width: $breakpointXSmall){


  .mainTitle{
    font-size: 2rem;
  }

}