<div class="mainContainer">
  <div class=" closeButton" tabindex="0" (click)="close()">
    <div class="material-icons">
      cancel
    </div>
  </div>
  <app-carousel></app-carousel>
  <div class="mainBody">
    <h1 id="petName">{{currentPet.name}}</h1>
    <div class="columnContainer">
            
      <div class="rightContainer">
        <div class="attributeItem">
          <span class="material-icons attributeIcon">
            date_range
          </span>
          <div class="bottomContainer">
            <div class="attributeTitle">My Age</div>
            <div class="attributeDetail">{{currentPet.age}}</div>
          </div>
        </div>

        <div class="attributeItem">
          <div class="genderRow">
            <span class="material-icons attributeIcon">
              female
            </span>
            <span class="material-icons attributeIcon" id="maleIcon">
              male
            </span>
          </div>
          <div class="bottomContainer">
            <div class="attributeTitle">Gender</div>
            <div class="attributeDetail">{{currentPet.gender}}</div>
          </div>
        </div>

        <div class="attributeItem">
          <span class="material-icons attributeIcon">
            square_foot
          </span>
          <div class="bottomContainer">
            <div class="attributeTitle">Coat Length</div>
            <div class="attributeDetail">{{currentPet.coat}}</div>
          </div>
        </div>

        <div class="attributeItem">
          <span class="material-icons attributeIcon">
            vaccines
          </span>
          <div class="bottomContainer">
            <div class="attributeTitle">Vaccinations</div>
            <div *ngIf="currentPet.hasCurrentShots" class="attributeDetail">Up to date</div>
            <div *ngIf="!currentPet.hasCurrentShots" class="attributeDetail">Not up to date</div>
          </div>
        </div>

        <div class="attributeItem">
          <span class="material-icons attributeIcon">
            health_and_safety
          </span>
          <div class="bottomContainer">
            <div class="attributeTitle">Medical</div>
            <div class="attributeLine">
              <div class="attributeDetail">Spayed/Neutered</div>
              <div *ngIf="currentPet.isSpayedNeutered" class="material-icons">done</div>
              <div *ngIf="!currentPet.isSpayedNeutered" class="material-icons">close</div>
            </div>
            <div class="attributeLine">
              <div class="attributeDetail">Special Needs</div>
              <div *ngIf="currentPet.hasSpecialNeeds" class="material-icons">done</div>
              <div *ngIf="!currentPet.hasSpecialNeeds" class="material-icons">close</div>
            </div>
            <div class="attributeLine">
              <div class="attributeDetail">House Trained</div>
              <div *ngIf="currentPet.isHouseTrained" class="material-icons">done</div>
              <div *ngIf="!currentPet.isHouseTrained" class="material-icons">close</div>
            </div>
          </div>
        </div>

        <div class="attributeItem">
          <span class="material-icons attributeIcon">
            diversity_1
          </span>
          <div class="bottomContainer">
            <div class="attributeTitle">Compatibility</div>
            <div class="attributeLine">
              <div class="attributeDetail">Cat Friendly</div>
              <div *ngIf="currentPet.isCatFriendly" class="material-icons">done</div>
              <div *ngIf="!currentPet.isCatFriendly  && currentPet.isCatFriendly != null" class="material-icons">close</div>
              <div *ngIf="currentPet.isCatFriendly == null" class="material-icons">question_mark</div>
            </div>
            <div class="attributeLine">
              <div class="attributeDetail">Dog Friendly</div>
              <div *ngIf="currentPet.isDogFriendly" class="material-icons">done</div>
              <div *ngIf="!currentPet.isDogFriendly && currentPet.isDogFriendly != null" class="material-icons">close</div>
              <div *ngIf="currentPet.isDogFriendly == null" class="material-icons">question_mark</div>
            </div>
            <div class="attributeLine">
              <div class="attributeDetail">Kid Friendly</div>
              <div *ngIf="currentPet.isChildFriendly" class="material-icons">done</div>
              <div *ngIf="!currentPet.isChildFriendly && currentPet.isChildFriendly != null" class="material-icons">close</div>
              <div *ngIf="currentPet.isChildFriendly == null " class="material-icons">question_mark</div>
            </div>
          </div>
        </div>

        <div  *ngIf="currentPet.tags.length != 0" class="attributeItem"  id="myAttributes">
          <div class="attributeTitle">My Attributes</div>
          <ul id="attributeList">
            <li class="cleanFormat" *ngFor="let attribute of currentPet.tags">{{attribute}}</li>
          </ul> 
        </div>
      </div>

      <div class="leftContainer">
        <div class="columnTitle" id="adoptTitle">Want To Adopt Me?</div>
        <button mat-button class="buttonText buttonLarge" id="applicationButton" (click)="navigate()">Go To Adoption Application</button>
        <a class="aNoStyle" href="{{currentPet.url}}" target="_blank"><button mat-button class="buttonText buttonLarge" id="petfinderButton">View On PetFinder</button></a>
      </div>
    </div>

  </div>
</div>