@import '../../../../../styles.scss';

.mat-button {
  white-space: normal !important;
  word-wrap: break-word;
}

.mainContainer{
  position: relative;
  @include flexColumnStart;

  app-carousel{
    width: 100%;
    height: 18.75rem;
    @include flexColumnStart;
  }

  .closeButton{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    color: black;
    z-index: 2;
    &:hover{
      cursor: pointer;
    }
    .material-icons{
      position: absolute;
      font-size: 2.5rem;
      top: -0.5rem;
      right: -0.5rem;
    }
  }
}



.mainBody{
  display: flex;
  width: 100%;
  margin: 1.5rem 0rem;
  @include flexColumnStart;

  #petName{
    color: $colorPrimary;
    font-weight: 500;
    text-align: center;
  }

  #petDescription{
    font-weight: 500;
    font-size: 1.3rem;
  }

}

.columnContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .rightContainer{
    margin: .75rem;
    width: calc(70% - 1.5rem);
    padding: 0 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    
    .attributeItem{
      margin: .5rem;
      height: 10rem;
      width: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1rem;
      background-color: $colorBackground;
      border-radius: .75rem;
      overflow: hidden;
      overflow-y: auto;
      padding: .5rem;

    }

  }
  
  .bottomContainer{
    width: 100%
  }
  .attributeLine{
    @include flexCenterSpaceBetween;
    width: 100%;
    align-items: flex-start;
    & > * {
      margin-bottom: 0rem;
    }
  }
  
  .attributeIcon{
    color: $colorPrimary;
    transform: scale(1.2);
    margin-bottom: 1rem;
    border-bottom: 2px solid $colorContrastDarkest
  }

  .attributeTitle{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .attributeDetail{
    margin-bottom: 1.5rem;
  }
  
  .leftContainer{
    @include flexColumnCenter;
    margin: .75rem;
    width: calc(30% - 1.5rem);
    border-radius: .75rem;
    background-color: $colorPrimary;
    padding: .5rem;
    text-align: center;    
    .columnTitle{
      margin-top: .5rem;
      margin-bottom: 1.5rem;

    }

    a{
      width: 100%;
      @include flexCenterCenter;
    }
    button{
      width: calc(100% - 2rem);
      margin: 0 1rem;
      margin-bottom: 1rem;
    }
  }
}

// #applicationButton{
//   background-color: $colorContrastDarkest;
//   color: $colorPrimaryBackground;
// }

#maleIcon{
  margin-left: -.3rem;
}

.columnTitle{
  font-size: 1.75rem;
  font-weight: 500;
}

.cleanFormat{
  list-style-type: none;
  margin-bottom: .25rem;
  font-size: 1rem;
}
#attributeList{
  padding: 0;
  margin: 0;
}
.aNoStyle{
  text-decoration: none;
  color: $colorText;
}

#myAttributes{
  // justify-content: flex-end;
  align-items: flex-start;
}

#adoptTitle{
  color: $colorPrimaryBackground;
}

@media only screen and (max-width: $breakpointMedium) {

  .columnContainer{
    flex-direction: column;
    justify-content: center;

    .rightContainer{
      width: calc(100% - 2rem);
      padding: 0;
      justify-content: center;
    }
    .leftContainer{
      width: calc(100% - 3rem);
      button{
        width: 70%;
      }
    }
  }



}

@media only screen and (max-width: $breakpointSmall){

  .columnContainer{
    .leftContainer{
      width: calc(100% - 3rem);
      button{
        width: 90%;
      }
    }


    .rightContainer{
      width: 100%;
      margin: 0;
      .attributeItem{
        margin: .25;
        width: 8rem;
      }
      .attributeDetail{
        font-size: .75rem;
      }
    }
  }
}


@media only screen and (max-width: $breakpointXSmall){



}