<div class="mainContainer">
  <div class="topBanner">
    <div class="highlightLine"></div>
    <div class="title">Thank You!</div>
    <div class="highlightLine"></div>
  </div>

  <div class="sizeContainer">
    <div class="imgContainer">
      <img class="picture animate__animated animate__zoomIn" src="../../../assets/images/cuteKittenOnBed.jpg" alt="cute kitten">
    </div>
    <div class="txtContainer">
      <div class="textBlock bodyContents">
        <div class="subTitle">Your Donations Power Our Rescue: </div>
        Fostering involves taking care of kittens in your home until they are old enough to be adopted. This can be a great way to make a difference in the lives of these tiny animals and help them find forever homes. We will provide all of the supplies needed to foster, all we ask of you is your time and a space in your home for fosters. We require a minimum of 2 foster kittens per foster in most cases. This allows for them to have a companion to socialize with. 
      </div>
      <div class="textBlock bodyContents">
        <div class="subTitle">We Need Your Help To Give Kittens A Home: </div>
        Fostering involves taking care of kittens in your home until they are old enough to be adopted. This can be a great way to make a difference in the lives of these tiny animals and help them find forever homes. We will provide all of the supplies needed to foster, all we ask of you is your time and a space in your home for fosters. We require a minimum of 2 foster kittens per foster in most cases. This allows for them to have a companion to socialize with. 
      </div>
    </div>
  </div>
</div>
    
