<div class="mainContainer">
  <div class="sizeContainer">
    <div *ngIf="currentBreakpoint <= 1" class="title">
      The Kitten Rescue Project
    </div>
    <div class="socialMedia">
      <a href="mailto:Info@TheKittenProject.org" target="_blank" class="socialLink" >
        <fa-icon [icon]="icons.email" class="socialIcon fa-2x" matTooltip="Email" aria-label="email"></fa-icon>
      </a>

      <a href="https://www.tiktok.com/@thekittenfoster" target="_blank" class="socialLink" >
        <fa-icon [icon]="icons.tiktok" class="socialIcon fa-2x" matTooltip="Tiktok" aria-label="tiktok"></fa-icon>
      </a>
      <a href="https://www.instagram.com/thekittenfoster/" target="_blank" class="socialLink" >
        <fa-icon [icon]="icons.instagram" class="socialIcon fa-2x" matTooltip="Instagram" aria-label="instagram"></fa-icon>
      </a>
      <a href="https://www.youtube.com/c/thekittenfoster" target="_blank" class="socialLink" >
        <fa-icon [icon]="icons.youtube" class="socialIcon fa-2x" matTooltip="Youtube" aria-label="youtube"></fa-icon>
      </a>
      <a href="https://www.facebook.com/thekittenfoster/" target="_blank" class="socialLink" >
        <fa-icon [icon]="icons.facebook" class="socialIcon fa-2x" matTooltip="Facebook" aria-label="facebook"></fa-icon>
      </a>
    </div> 
  </div>
</div>
