@import '../../../../../styles.scss';

.scrollEnabled{
  touch-action: pan-y !important;
}

.mainContainer{
  width: 100%;
  @include flexCenterCenter;

  .frameContainer{
    position: relative;
    width: 100%;
    max-width: 56.25rem;
    min-width: 18.75rem;
    overflow: hidden;
    @include flexCenterCenter;
    background-color: rgb(46, 46, 46, .2);

    .navButtonContainer{
      position: absolute;
    }

    #nextButton{
      z-index: 10;
      right: 1rem;
    }

    #lastButton{
      z-index: 10;
      left: 1rem;
    }

    .carouselContainer{
      position: relative;
      @include flexCenterCenter;
      width: 18.75rem;
      height: 18.75rem;

      
  
      .carouselItem{
        height: 18.75rem;
        width: 18.75rem;
        position: absolute;
        overflow: hidden;
        transition: .3s ease-in-out;
        @include flexCenterCenter;
      }
  
      .isCurrent{
        right: 0;
        opacity: 1;
      }

      .isLesser{
        right: 37.5rem;
      }
      
      .isGreater{
        right: -37.5rem;
      }
  
      .isNext{
        right: -18.75rem;
        opacity: .5;
      }
  
      .isLast{
        right: 18.75rem;
        opacity: .5;
      }


    }
  }
}

.navButton{
  color: white;
  font-size: 3rem;
  font-weight: 900;

  &:hover{
    cursor: pointer;
  }
}


.carouselImg{
  object-fit: contain;
}

.petIframe{
  @include flexCenterCenter;
  width: 100%;
  height: 100%;
  border-style: none;
}

